/test/socket/socketdemo/nbproject/private/
/test/socket/test/server/nbproject/private/
/test/socket/test/client/nbproject/private/
/test/socket/test/server/build/
/test/socket/test/client/build/
/test/socket/socketdemo/build/
test/database/Findesk_LogicModel\.mwb\.bak

test/database/Findesk_LogicModelLeleo\.mwb\.bak

model/diagram/FinDesk\.asta\.lock
/test/socket/test/JavaApplication5/nbproject/private/
/test/socket/test/JavaApplication5/build/
/test/socket/test/banco/nbproject/private/
/test/socket/test/UICliente/nbproject/private/
/test/socket/test/UICliente/build/
/test/socket/test/banco/build/
/test/banco/build/
/test/banco/nbproject/private/
/findesk.admnistrador/build/
/findesk.admnistrador/dist/
/findesk.cliente/nbproject/private/
/findesk.cliente/build/
/findesk.cliente/dist/
class/JavaApplication1/nbproject/private/private\.properties

class/JavaApplication1/nbproject/private/private\.xml
